<div class="table-container">
  <div class="fixed-h-container">
    <h1>{{keyphrase}}</h1>
  </div>
  <div class="table-container">
    <div class="main-pane">
      main
    </div>
    <div class="table-container chat">
      <div id="playerList">players</div>
      <div id="chat">
        <div id="chatContent">chat</div>
        <form action="">
          <input id="chatInput" type="text" autofocus="true" autocomplete="off">
          <button>Send</button>
        </form>
      </div>
    </div>
  </div>
</div>

