<h1>Drafting, Swiftly</h1>

<div class="home-container">
  <div class="row">
    <div class="one-half column">
      <div class="ba">
        <form action="/room" method="get">
          <label for="keyphraseInput">Join</label>
          <input id="keyphraseInput" name="keyphrase" type="text" placeholder="XXXX-XXXX-XXXX">
          <button type="submit">Go</button>
        </form>
      </div>
    </div>
    <div class="one-half column">
      <form action="/create" method="post">
        <input id="userInput" type="hidden" name="user">
        <label for="create">Create</label>
        <button id="create" type="submit">New Room</button>
      </form>
    </div>
  </div>
</div>
