<h1>Drafting, Swiftly</h1>

<div class="home-container">
  <div class="row">
    <div class="one-half column">
      <div class="ba">
        <form action="/join">
          <label for="keyphrase">Join</label>
          <input id="keyphrase" type="text" placeholder="XXXX-XXXX-XXXX">
          <button>Go</button>
        </form>
      </div>
    </div>
    <div class="one-half column">
      <form action="/create" method="post">
          <label for="create">Create</label>
          <button id="create">New Room</button>
      </form>
    </div>
  </div>
</div>
