<div class="full-height">
  <h1>{{keyphrase}}</h1>

  <div class="room row">
    <div class="two full-height bordered columns">
      <div id="playerList" class="player-list content"></div>
    </div>
    <div class="ten full-height columns">
      <div class="chat-panel">
        <div id="chatContent" class="chat bordered content"></div>
        <form class="chat-entry" action="">
          <input id="chatInput" type="text" autofocus="true" autocomplete="off">
          <button>Send</button>
        </form>
      </div>
    </div>
  </div>
</div>

